@tailwind base;
@tailwind components;
@tailwind utilities;

/* imports */
@import url('./_fonts.css');
@import url('./_aspect-ratio.css');

input:-internal-autofill-selected {
  background-color: transparent !important;
}

#toast-container {
  @apply fixed top-4 left-0 right-0 flex justify-center z-30;
}

.bg-auth {
  background-image: url('../../public/assets/images/bg-auth.webp');
  background-size: 100% auto;
  background-position: center center;
}

body {
  background-image: none;
  background-repeat: no-repeat;
  background-position: left, right;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  body {
    background-image: url('../../public/assets/images/main_background_left.png'),
      url('../../public/assets/images/main_background_right.png');
  }
}

body.bg-none {
  background-image: none;
}

body.dropdown-open {
  margin-right: 0 !important;
}

body {
  @apply overflow-x-hidden bg-dark-400;
}

body.writing-page {
  @apply !bg-dark-100;
}

.container {
  @apply md:max-w-xl lg:max-w-3xl xl:max-w-[959px] mx-auto px-4 md:px-0;
}

@layer utilities {
  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #27272e;
    border-radius: 1rem;
  }

  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #131314;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3b3b46;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: #131314;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: #131314;
  }
}

.tox-statusbar__text-container {
  display: none !important;
}

body .tox-tinymce {
  border-color: #af7f3e;
}

body .tox:not(.tox-tinymce-inline) .tox-editor-header,
body .tox .tox-toolbar-overlord,
body .tox .tox-toolbar__primary,
body .tox .tox-statusbar {
  background-color: #333333;
}

body .tox:not(.tox-tinymce-inline) .tox-editor-header {
  box-shadow: 0 2px 2px -2px rgb(255 255 255 / 10%),
    0 8px 8px -4px rgb(71 71 71 / 7%);
}

body .tox .tox-tbtn {
  color: #f9f7ef;
}

body .tox .tox-tbtn svg {
  fill: #f9f7ef;
}
