@tailwind base;
@tailwind components;
@tailwind utilities;

/* imports */
@import url('./_fonts.css');
@import url('./_aspect-ratio.css');

input:-internal-autofill-selected {
  background-color: transparent !important;
}

#toast-container {
  @apply fixed top-4 flex justify-center z-30 left-1/2 -translate-x-1/2 min-w-[200px];
}

.bg-auth {
  background-image: url('../../public/assets/images/bg-auth.webp');
  background-size: 100% auto;
  background-position: center center;
}

body {
  background-image: none;
  background-repeat: no-repeat;
  background-position: left, right;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  body {
    background-image: url('../../public/assets/images/main_background_left.png'),
      url('../../public/assets/images/main_background_right.png');
  }
}

body.bg-none {
  background-image: none;
}

body.dropdown-open {
  margin-right: 0 !important;
}

body {
  @apply overflow-x-hidden bg-dark-400;
}

body.writing-page {
  @apply !bg-dark-100;
}

.container {
  @apply md:max-w-xl lg:max-w-3xl xl:max-w-[959px] mx-auto px-4 md:px-0;
}

@layer utilities {
  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #27272e;
    border-radius: 1rem;
  }

  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #131314;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3b3b46;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: #131314;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: #131314;
  }
}

.tox-statusbar__text-container {
  display: none !important;
}

body .tox-tinymce {
  border-color: #af7f3e;
}

body .tox:not(.tox-tinymce-inline) .tox-editor-header,
body .tox .tox-toolbar-overlord,
body .tox .tox-toolbar__primary,
body .tox .tox-statusbar {
  background-color: #333333;
}

body .tox:not(.tox-tinymce-inline) .tox-editor-header {
  box-shadow: 0 2px 2px -2px rgb(255 255 255 / 10%),
    0 8px 8px -4px rgb(71 71 71 / 7%);
}

body .tox .tox-tbtn {
  color: #f9f7ef;
}

body .tox .tox-tbtn svg {
  fill: #f9f7ef;
}

.dropdown-icon {
  @apply -rotate-90 transition-all;
}

[data-state='open'] .dropdown-icon {
  @apply rotate-90;
}
[data-radix-popper-content-wrapper] {
  @apply !z-30;
}

.notification-progress {
  width: 100%;
  animation: notification-toast-progress 10s linear forwards;
}

@keyframes notification-toast-progress {
  100% {
    width: 0%;
  }
}

body .ck.ck-editor__main > .ck-editor__editable {
  background-color: #333;
  min-height: 150px;
}

body .ck.ck-toolbar {
  border: solid 2px #af7f3e;
}

body .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  background-color: #333333;
  padding-top: 6px;
  padding-bottom: 6px;
}

body .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
body .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

body .ck.ck-toolbar__items > button {
  color: #ffffff;
}

body .ck.ck-toolbar__items > button:not(.ck-disabled):hover {
  color: #333;
  background-color: #cce2fa;
}

body .ck.ck-toolbar__items > button.ck-disabled {
  cursor: not-allowed;
  box-shadow: none !important;
  border: none !important;
}

body .ck.ck-editor__main > .ck-editor__editable {
  border: solid 2px #af7f3e !important;
  border-top: 0;
  color: #d6b16d;
  background-color: transparent;
}

body .ck.ck-editor__main > .ck-editor__editable.ck-read-only {
  color: #726a64;
  cursor: not-allowed;
}

body .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
body .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

body .ck.ck-dropdown.ck-heading-dropdown {
  border: solid 2px #ddd !important;
  border-radius: 6px;
  margin-left: 6px;
  background-color: transparent;
  color: #ffffff;
}

body .ck.ck-dropdown.ck-heading-dropdown.ck-disabled {
  border-color: #726a64 !important;
}

body
  .ck.ck-dropdown.ck-heading-dropdown
  .ck-dropdown__button
  .ck-button__label {
  width: auto;
}

body .ck.ck-button.ck-dropdown__button {
  color: #fff;
}

body .ck.ck-button.ck-dropdown__button:not(.ck-disabled):hover {
  color: #333;
  background-color: #cce2fa;
}

body .ck.ck-content.ck-editor__editable > h1 {
  font-size: 28px;
  font-weight: 700;
}

body .ck.ck-content.ck-editor__editable > p {
  font-size: 14px;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
