@tailwind base;
@tailwind components;
@tailwind utilities;

/* imports */
@import url('./_fonts.css');
@import url('./_aspect-ratio.css');

input:-internal-autofill-selected {
  background-color: transparent!important;
}

#toast-container {
  @apply fixed top-4 left-0 right-0 flex justify-center;
}

.bg-auth {
  background-image: url('../../public/assets/images/bg-auth.webp');
  background-size: 100% auto;
  background-position: center center;
}

body {
  @apply overflow-x-hidden bg-dark-400
}

.container {
  @apply md:max-w-xl lg:max-w-3xl xl:max-w-[959px] mx-auto px-4 md:px-0
}
@layer utilities {

  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    width: .5rem;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #27272E;
    border-radius: 1rem;
  }

  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #131314;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3B3B46;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: #131314;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: #131314;
  }
}
